html {
      width:100%;
      min-height:100%;
}

body {
      margin:0px;
      padding:0px;
      height:100%;
      width:100%;
}

.top-bar {
  position:absolute;

  top:0px;
  left:0px;
  right:0px;

  height:50px;
  width:auto;
}

.right-panel {
  position:absolute;

  top:50px;
  right:0px;
  bottom:0px;

  height:auto;
  width:300px;
}

.main-panel {
  position: absolute;

  top:50px;
  left:0px;
  right:300px;
  bottom:0px;

  height:auto;
  width:auto;
}

.main-panel .editor-panel {
  position: absolute;

  top:0px;
  left:0px;
  right:0px;

  height:50%;
  width:100%;
}

.main-panel .cmd-panel {
  position: absolute;

  bottom:0px;
  left:0px;
  right:0px;

  height:50%;
  width:100%;
}

.CodeMirror {
  width:100%;
  height:100%;
}

.exercice-category {
      background-color:#22A7F0;
      font-size: 3em;
      font-weight:bold;
      color:#FFFFFF;
}
