html {
      width:100%;
      min-height:100%;
      background-color:#EDEDED;
}

body {
      margin:auto;
      min-height:100%;
      padding-top:50px;
}

.card {
      margin-top: 5px;
      background-color:#FFFFFF;
}

.drop-shadow {
      -moz-box-shadow: 0px 6px 3px 0px #DDDDDD;
      -webkit-box-shadow: 0px 6px 3px 0px #DDDDDD;
      -o-box-shadow: 0px 6px 3px 0px #DDDDDD;
      box-shadow: 0px 6px 3px 0px #DDDDDD;
      filter:progid:DXImageTransform.Microsoft.Shadow(color=#DDDDDD, Direction=180, Strength=3);
}

.execute-button {
      width:100%;
      padding:10px;
      background-color:#22A7F0;
      font-size:20px;
      font-weight:bold;
      text-align:center;
      color:#FFFFFF;
      box-sizing:border-box;
      cursor:pointer;
}

.exercice {
      margin: 0px 20%;
}

.exercice .exercice-category {
      background-color:#22A7F0;
      font-size: 3em;
      font-weight:bold;
      color:#FFFFFF;
}