<div class="top-bar container-fluid">
  <div class="row">

  </div>
</div>

<div class="right-panel container-fluid">
  <div class="row">
    <button ng-disabled="$script != null" class="btn btn-primary col-xs-10 col-xs-offset-1" ng-click="$compile()">
      Parse
    </button>
  </div>
  <div class="row">
    <button ng-disabled="$script == null" class="btn btn-primary col-xs-10 col-xs-offset-1" ng-click="$execute()">
      Execute
    </button>
  </div>
  <div class="row">
    <button ng-disabled="$script == null" class="btn btn-primary col-xs-10 col-xs-offset-1" ng-click="$next('detailed-step-by-step')">
      Next step (detailed step-by-step)
    </button>
  </div>
  <div class="row">
    <button ng-disabled="$script == null" class="btn btn-primary col-xs-10 col-xs-offset-1" ng-click="$next('instruction-by-instruction')">
      Next step (instruction by instruction)
    </button>
  </div>
  <div class="row">
    <errors messages="$errors"></errors>
  </div>
  <div class="row">
	<fieldset>
	<legend>Etat des variables globales</legend>
    <ul><li ng-repeat="(key,value) in $dumpGlobal">{{key}} = {{value}}</li></ul>
	</fieldset>
  </div>
  <div class="row">
	<fieldset>
	<legend>Etat des variables locales</legend>
	<ul><li ng-repeat="(key,value) in $dumpLocal">{{key}} = {{value}}</li></ul>
	</fieldset>
  </div>
  <div class="row">
	<fieldset>
	<legend>Pile d'appels</legend>
    <ul><li ng-repeat="key in $stack track by $index">{{key}}</li></ul>
	</fieldset>
  </div>
  
</div>

<div class="main-panel">
  <div class="editor-panel">
    <editor language="javascript" autofocus="true" service="$editor" ng-model="$code">
    </editor>
  </div>
  <div class="cmd-panel">
    <cmd content="$cmdContent"></cmd>
  </div>
</div>
