<div class="top-bar container-fluid">
  <div class="row">

  </div>
</div>

<!-- MAIN PANEL -->
<div class="main-panel">
  <div class="editor-panel">
    <script-editor
      autofocus="true"
      script="exercice.script"
    ></script-editor>
  </div>
  <div class="cmd-panel">
    <cmd content="$$cmdContent"></cmd>
  </div>
</div>

<!-- RIGHT PANEL -->
<div class="right-panel">
    <!-- BUTTONS -->
  <div class="row">
    <div ng-disabled="$syntaxError() || $$exec" class="col-xs-10 col-xs-offset-1 btn btn-primary" ng-click="$execute()">
      Exécuter le script
    </div>
  </div>
  <div class="row" style="margin-top:10px;">
    <div ng-click="$validate()" class="col-xs-10 col-xs-offset-1 btn btn-primary">
      Valider le script
    </div>
  </div>
  <div class="row" style="margin-top:10px;">
      <button ng-disabled="$syntaxError() || $$exec" class="btn btn-primary col-xs-10 col-xs-offset-1" ng-click="$startStepByStep()">
          <div class="fa fa-arrow-circle-o-right"></div> Démarrer le mode pas à pas
      </button>
  </div>
  <div class="row" style="margin-top:10px;">
      <button ng-disabled="$syntaxError() || !$$exec" class="btn btn-primary col-xs-10 col-xs-offset-1" ng-click="$endStepByStep()">
          <div class="fa fa-arrow-circle-o-right"></div> Arrêter le mode pas à pas
      </button>
  </div>
  <div class="row" style="margin-top:10px;">
      <button ng-disabled="$syntaxError() || !$$exec" class="btn btn-primary col-xs-10 col-xs-offset-1" ng-click="$next('detailed-step-by-step')">
          <div class="fa fa-arrow-circle-o-right"></div> Pas suivant
      </button>
  </div>
  <div class="row" style="margin-top:10px;">
      <button ng-disabled="$syntaxError() || !$$exec" class="btn btn-primary col-xs-10 col-xs-offset-1" ng-click="$next('instruction-by-instruction')">
          <div class="fa fa-arrow-circle-o-right"></div> Instruction suivante
      </button>
  </div>
  <div class="row" style="margin-top:10px;">
      <button ng-disabled="($syntaxError() || !$$exec) && $previousNode.type != 'BlockStatement'" class="btn btn-primary col-xs-10 col-xs-offset-1" ng-click="$goToEndOfBlock()">
          <div class="fa fa-arrow-circle-o-right"></div> Fin du bloc
      </button>
  </div>

  <!-- ERRORS -->
    <div class="row errors" style="margin-left:10px;">
        <errors messages="exercice.errors"></errors>
    </div>

    <!-- STACKS AND VARIABLE WATCHERS -->
    <div class="row first-stack" style="margin-left:10px;">
        <fieldset>
            <legend><div class="fa fa-binoculars"></div> &Eacute;tat des variables globales</legend>
            <ul><li ng-repeat="(key,value) in $dumpGlobal">{{key}} = {{value}}</li></ul>
        </fieldset>
    </div>
    <div class="row" style="margin-left:10px;">
        <fieldset>
            <legend><div class="fa fa-binoculars"></div> &Eacute;tat des variables locales</legend>
            <ul>
                <li ng-repeat="(key,value) in $dumpLocal">
                    {{key}} = {{value}}
                </li>
            </ul>
        </fieldset>
    </div>
    <div class="row" style="margin-left:10px;">
        <fieldset>
            <legend><div class="fa fa-align-justify"></div> Pile d'appel</legend>
            <ul>
                <li ng-repeat="key in $stack track by $index">
                    {{key}}
                </li>
            </ul>
        </fieldset>
    </div>

</div>
